#popdiv{
	width:300px;
	
	background-color:#6969DA;
	position:fixed;
	left:100px;
	top:600px;
	border-radius:5px;
}
#popHeader{
	height:30px;
	background-color:inherit;
	width:100%;
	border-radius:5px;
}
#closeButton{
	width:25px;
	height:30px;
	float:right;
	cursor:pointer;
	font-size:20px;
	font-weight:900;
	color:#FFFFFF;
	
}
#popBody{
	background-color:rgba(255,255,255,0.4);
	height:69%;
	color:black;
	font-size:20px;
	width:83%;
	margin:0 2% 2% 2%;
	padding:20px;
	text-align:center;
}
#buttonKnow{
	border-radius:5px;
	background-color:#ED9257;
	color:white;
	padding:3px;
	display:block;
	margin-top:10px;
	position:relative;
	left:35%;
	cursor:pointer;
	outline:none;
	font-size:18px;
	font-weight:900;
}